$padding: 5%;
$colors: (
  grey-blue: hsl(227, 12%, 61%),
  light-grey: hsl(0, 0%, 98%),
  white: #ffffff,
  list-blue: hsl(228, 45%, 44%),
  dark-blue: hsl(233, 12%, 13%),
  pale-red: hsl(13, 100%, 96%),
  burnt-orange: lighten(#f24405, 10%),
  dark: hsl(228, 39%, 23%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
$desktop: 801px;
$ipad: 768px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin ipad {
  @media (min-width: #{$ipad}) {
    @content;
  }
}

// .App {
//   background-color: color(dark-blue);
// }

.App-header {
  height: 100vh;
  display: block;
  text-align: center;
  padding: 5%;
  // border: 2px solid red;
  h1 {
    font-size: 3.5rem;
    font-weight: 200;
  }
  img {
    height: 40vh;
    display: block;
    text-align: center;
  }
}

.letters {
  font-size: 2rem;
  font-weight: 400;
}
.contact {
  border: 2px solid red;
  height: 70vh;
}
