$padding: 5%;
$colors: (
  grey-blue: hsl(227, 12%, 61%),
  light-grey: hsl(0, 0%, 98%),
  white: #ffffff,
  list-blue: hsl(228, 45%, 44%),
  dark-blue: hsl(233, 12%, 13%),
  pale-red: hsl(13, 100%, 96%),
  burnt-orange: lighten(#f24405, 10%),
  dark: hsl(228, 39%, 23%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
$desktop: 801px;
$ipad: 768px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin ipad {
  @media (min-width: #{$ipad}) {
    @content;
  }
}

// .App {
//   background-color: color(dark-blue);
// }

.App-header {
  height: 80vh;
  display: block;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  .typing {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .svg-container {
    grid-column: 3/5;
    grid-row: 1/3;
    padding: 2%;
    display: block;
    transition: all 5s ease-in-out;
    background: url("../assets/human.svg") 0 0 no-repeat;

    p {
      text-align: center;
      font-size: 1.5rem;
      opacity: 0;
      font-weight: bold;
      transition: all 15s ease-in-out infinite;
      margin-left: 20px;
      animation: arriving 60s steps(12);
    }
  }
  @keyframes sliding {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100px;
      margin-left: 60px;
    }
  }

  @keyframes arriving {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
      font-weight: 500;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      font-weight: 600;
      font-size: 2rem;
    }
  }

  .svg-container:hover {
    p:hover {
      opacity: 1;
      transform: scale(1.1);
      font-weight: 600;
    }
  }
}

.letters {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}
.contact {
  border: 2px solid red;
  height: 70vh;
}
.about {
  padding: $padding;
  height: 90vh;
  border: 2px solid green;
  margin-top: 450px;
}
