.projects {
  height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.project-one,
.project-two {
  border: 2px solid green;
  img {
    height: 200px;
    // border: 2px solid purple;
  }
}
